.gallery-page {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
}

.gallery-header {
  background-color: #034ea2;
  color: white;
  text-align: center;
  padding: 40px 20px;
  position: relative;
}

.school-logo {
  position: absolute;
  /* top: 10px; */
  left: -11px;
  width: 80px;
}

.gallery-header h1 {
  font-size: 2.5rem;
  margin: 10px 0 5px;
}

.gallery-header p {
  font-size: 1.1rem;
  font-weight: 300;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 30px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.03);
}
